body {
    font-family: 'PT Sans', sans-serif;
    line-height: 160%;
}
/* VARIABILI  */

:root {
    --main-column: 80%;
    --main-column-768: 90%;
    --max-main-column: 50%;
    --padding-schede: 25px;
    --main-color: #0084FD;
    --second-color: #9792E4;
    --third-color: #B5DDFF;
    --fourth-color:#333333;

}

/* classi variabili */

.main-column {
    width: var(--main-column);
    margin: 0   auto;

}
.p-scheda  {padding: var(--padding-schede);}
.second-color-text {color: var(--second-color);}


/* generiche */
.bg-azzurrino {background-color: #B5DDFF;}
.white-button {
    background-color: white;
    color: black;
    border-radius: 30px;
    padding: 5px 10px;
    text-decoration: none;
    text-align: center;
}
.blue-button {
    background-color: var(--main-color);
    color: white;
    border-radius: 30px;
    padding: 5px 10px;
    text-decoration: none;
    text-align: center;
    width: 70%;
}

/* HEADER  */

header {background-color: var(--main-color);}
header a {
    display: block;
    padding: 10px 0;
    color: white;
    text-decoration: none;
    margin-left: 20px;
}
.desktop-link {display: none;}

/* DEMO CARDS  */

.demo-card {
    background-color: var(--third-color);
    width: 100%;
    margin-bottom: 20px;
    border-radius: 20px;
    padding: var(--padding-schede);
    gap: 16px;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
}
#phone-pic {
    width: 80%;
    margin: auto;
}
#demo-container div > i {
    color: var(--main-color);
    font-size: 5em;
}
#demo-container h2 {
    color: var(--main-color);
}
#double-card {
    padding-bottom: 0;
    text-align: left;
    align-items:flex-start;
}

/* strategic planning  */

#strategic-planning {
    background-color: #9792E4;
}

#inside-card {
    background-color: white;
    border-radius: 20px;
    display: flex;
    flex-direction: column;
    gap: 20px;
    align-items: center;
    text-align: center;
    padding: var(--padding-schede);
}
#inside-card p {
    font-style: italic;
}
#strategic-button {
    background-color: var(--second-color);
    border-radius: 50%;
    width: 4em;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 1em;
    text-decoration: none;
}
#strategic-button i {
    font-size: 2em;
}

/* testimonials  */

#testimonials h2 {color: var(--second-color);}
.test-card {
    background-color: var(--second-color);
    border-radius: 40px;
    margin: 24px 0;
    display: flex;
    align-items: center;
    flex-direction: column;
    color: white;
}
.pic-round {
    border-radius: 50%;
    background-color: black;
    overflow: hidden;
    width: 70%;
    aspect-ratio: 1;
    display: flex;
    justify-content: center;
}

/* benefit */

#benefit {background-color: var(--second-color);}

.benefit-card {
    background-color: white;
    border-radius: 20px;
    margin-bottom: 20px;
    text-align: left;
    padding: var(--padding-schede);
    color: var(--second-color);
}
.benefit-card p {color: grey;}
.violet-button {
    background-color: var(--second-color);
    color: white;
    border-radius: 30px;
    padding: 0.5em 3em;
    text-decoration: none;
    text-align: center;
    font-weight: 700;
}
/* About us  */

#about-us h1 {color: var(--second-color);}
.pic-round i {
    position: absolute;
    top: 16px;
    left: 90px; 
    font-size: 3em;
    color: var(--second-color);
}
#about-us .violet-button {
    padding: 5px 10px;
}
/* get started */

#get-started {
    background-color: var(--second-color);
}
#free {color: #FDC15F;}
#get-started .white-button {
    padding: 10px 40px;
    color: var(--second-color);
    font-weight: 700;
    letter-spacing: 3px
}
/* footer  */

footer {
    background-color: var(--fourth-color);
}



/****************** MEDIA QUERY *****************/

/* 768 px  */

@media only screen and (min-width: 768px) {

    .main-column {
        width: var(--main-column-768);
        margin: 0   auto;
    }

    /* DEMO CARD  */
    #demo-container {
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: space-between;
    }
    .demo-card {
        width: calc(100% / 3 - 20px);
    }
    #double-card {
        width: calc(100% / 3 * 2 + -10px);
        align-items: start;
        text-align: left;
    }
    #phone-pic {
        margin: 0;
        width: 50%;
    }
    #demo-container .blue-button {width: 50%;}

    /* testimonial  */

    .test-card {
        flex-direction: row;
        text-align: left;
        }
    .test-card .pic-round {margin-right: 16px;}

    /* benefit  */
    #benefit > div {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: space-between;
    }
    #benefit h2 {width: 100%;}
    #benefit > div div {
        width: calc(50% - 10px);
    }

    /* about us  */

    #about-us > div {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
    }
    #about-us > div div {
        width: calc(50% - 20px);
    }
    #about-pic-column {
        display: flex;
        flex-direction: column;
        align-items: center;
        text-align: center;
        width: 33%;
    }

    /* get started  */

    #get-started .main-column {
        width: 60%;
    }

    /* footer  */

    footer .main-column {width: 60%;}
}

/* 992 px  */

@media only screen and (min-width: 992px) {

    .main-column {
        max-width: 900px;
        margin: 0   auto;
    } 

    /* demo cards  */

    #double-card {
        flex-direction: row;
    }
    #phone-pic {width: 45%;}

    /* header  */

    .desktop-link {display: inline-block;}
    #icon {display: none;}

    /* strategic planning  */
    #strategic-planning > div {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
    }
    #strategic-planning > div > div {
        width: calc(50% - 10px);
    }


}